html            {border:5px solid Black;
                background-color:Black;
                margin:0;}

body            {margin:0}

.header         {height:575px;
                width:100%;
                margin-top:28px;
                background-color:Black;}

#header-text    {background-color:rgba(122, 31, 31, 0.9);
                border-radius:5px;
                width:300px;
                height:96px;
                line-height:0.5em;
                position:relative;
                left:25px;
                padding-top:4px;
                z-index:1;}

#header-text.fixed-logo {
                position:fixed;
                top:0;
                right:10px;
                width:200px;
                height:52px;
                z-index:1;
                background-color:rgba(0, 0, 0, 0);
}

#header-text.fixed-logo h1 {
                font-family:"Mrs Saint Delafield",serif;
                font-size:26px;
                font-weight:300;
                color:#FAFAD2;                                          
                margin-left:5px;
                padding-left:10px;
                z-index:1;
}

#header-text.fixed-logo h2 {
                font-family:"PT Sans", sans-serif;
                font-size:10px;
                font-weight:800;
                color:Black; 
                text-align:left;
                margin-right:10px;
                bottom:5px;
                padding-right:5px;
}

h1             {font-family:"Mrs Saint Delafield",serif;
                font-size:42px;
                font-weight:200;
                text-shadow:3px 3px black;
                color:#FAFAD2;                                          
                margin-left:5px;}
    
h2              {font-family:"PT Sans", sans-serif;
                font-size:16px;
                font-weight:400;
                color:#FAFAD2; 
                text-align:right;
                margin-right:10px;}

.subheader      {font-family:"Allura";
                font-size:40px;
                font-weight:600;
                color:#7a1f1f;
                padding:0;
		        text-align:center;
                margin-left:auto;
                margin-right:auto;
}

#nav-icon {
    display:none;
}
                
.navigation      {background-color:Black;}




.navigation ul  {width:100%;
                text-align:center;
                background-color:Black;
                position:relative;
                right:40px;}

.navigation li {font-family: "PT Sans", sans-serif;
                font-weight:500;
                color:rgba(220, 156, 65, 1);
                background-color:rgba(122, 31, 31, 0.1);
                text-align:center;
                display:inline-block;
                border-right:1px solid #7a1f1f;
                border-left:1px solid #7a1f1f;
                padding:0px 50px 0px 50px;
		        margin-left:auto;
		        margin-right:auto;
}

a:link         {text-decoration:none;
               color:#FAFAD2;}
a:visited       {text-decoration:none;
                color:#FAFAD2;}
a:hover         {text-decoration:none;
                color:#FAFAD2;}
a:active        {text-decoration:none;
                color:#FAFAD2;}


.navigation.fixed-nav {
                position: fixed;
                top: 0;
                width: 100%;
}

                


.content        {border:5px solid black;
                background-color:#FAFAD2;
                min-width:300px;
                max-width:1000px;
                min-height:600px;
                max-height:600px;
                margin-left:auto;
                margin-right:auto;
		        padding:25px 25px 150px 25px;
                overflow:hidden;}
		      
.content p, table   {font-family:"PT Sans", sans-serif;
                    font-size:16px;
                    font-weight:700;
                    margin-top:auto;
                    margin-bottom:auto;
		       	    margin-left:auto;
		            margin-right:auto;
                    height:80%;
                    width:40%;
			        overflow:auto;}
			    
table   	    {width:100%;}

.youtube-embed  {width:420px;
                height:375px;
                display:block;
                margin:auto;}
                
.contactform    {margin-left:auto;
                margin-right:auto;}
                
.rates          {width:50%;
                 margin-left::auto;
                 margin-right:auto; }                                          




















/*For Browser Resize (>= 800px)*/

@media screen and (max-width: 1170px){
#header-text    {background-color:rgba(122, 31, 31, 0.9);
                border-radius:0;
                width:210px;
                height:60px;
                line-height:0.5em;
                position:relative;
                top:8px;
                left:0;
                margin-left:auto;
                margin-right:auto;}

h1 {
    font-size:30px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

h2{
    font-size:12px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#nav-icon {
    margin:auto;
    font-size:16px;
}

#nav-links {
    display:none;  
}

#nav-links.nav-open {
    display:block;
}



.navigation li,
#nav-icon  {
    font-family: "PT Sans", sans-serif;
                font-weight:500;
                color:rgba(220, 156, 65, 1);
                background-color:rgba(122, 31, 31, 0.1);
                text-align:center;
                display:block;
                border-right:1px solid #7a1f1f;
                border-left:1px solid #7a1f1f;
                margin:auto;
            }

.navigation.fixed-nav {
                position: fixed;
                top: 42px;
                width: 100%;
                transition:2s;
}


.content	    {height:80%;
                width:80%;
                margin-top:auto;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:auto;
}
		        
.content p	    {font-family:"PT Sans", sans-serif;
                font-size:14px;
                font-weight:600;
                margin-top:auto;
                margin-bottom:auto;
		        margin-left:auto;
		        margin-right:auto;
		        height:80%;
                width:85%;
		        overflow:auto;}

#subheader-teach   {
                margin-top:90px;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:45px;

}

.youtube-embed	{margin:auto;
                height:300px;
                width:300px;}




#header-text.fixed-logo {
                position:fixed;
                top:0;
                left:0;
                width:100%;
                height:40px;
                z-index:1;
                background-color:rgba(0, 0, 0, 1);
}

#header-text.fixed-logo h1 {
                font-family:"Mrs Saint Delafield",serif;
                font-size:26px;
                font-weight:300;
                color:#FAFAD2;                                          
                margin-left:5px;
                padding-left:10px;
                text-align:left;
            }

#header-text.fixed-logo h2 {
                display:none;
}

.subheader {
            margin-top:100px;
            margin-right:auto;
            margin-left:auto;
            margin-bottom:45px;
}

p {

}



















/*screens less than 680px*/
/*@media screen and (max-width:680px) {
